@model ProductVM



<h1 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h1>
<div style="display: flex; justify-content: space-between;">
    <div style="flex: 1; margin-right: 20px;">
<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden/>
    <input asp-for="Product.ImageURL" hidden />

    

    
    <fieldset @* style="margin-right: 200px" *@>
        <div>
            <label asp-for="Product.Title" class="form-label mt-0"></label>
            <input asp-for="Product.Title" class="form-control border-black shadow" placeholder="Enter the Title">
            <span asp-validation-for="Product.Title" class="text-danger"></span>
            
        </div>

        

        <div>
            <label asp-for="Product.Description" class="form-label mt-2"></label>
            <textarea asp-for="Product.Description" class="form-control shadow border-black" placeholder="Enter the Description" autocomplete="off"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Product.Price" class="form-label mt-2"></label>
            <input type="number" asp-for="Product.Price" class="form-control shadow border-black" placeholder="Enter the Price" autocomplete="off">
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>  


        <div>
            <label asp-for="Product.CategoryId" class="form-label mt-2"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.categoryList" class="form-select shadow border-black" placeholder="" autocomplete="off">
                <option>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>


        <div>
            <label asp-for="Product.Author" class="form-label mt-2"></label>
            <input asp-for="Product.Author" class="form-control shadow border-black" placeholder="Enter Author Name" autocomplete="off">
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Product.ImageURL" class="form-label mt-2"></label>
            <input  type="file" name="file" class="form-control shadow border-black" placeholder="Enter ImageURL" autocomplete="off">
            <span asp-validation-for="Product.ImageURL" class="text-danger"></span>
        </div>
    


<div class="row">
    <div class="col-6">
            @if (Model.Product.Id != 0)
            {
                <button type="submit" class="btn btn-primary mt-3 shadow border-black form-control">Update</button>
            }
            else{
            <button type="submit" class="btn btn-primary mt-3 shadow border-black form-control">Create</button>
            }
    </div>

    <div class="col-6">
            <a asp-controller="Product" asp-action="Index" class="btn btn-dark mt-3 shadow border-black form-control">Go back to list</a>
    </div>
</div>
</fieldset>

</form>

    </div>
    <div style="flex: 1;">
        <img src="@Model.Product.ImageURL" width="70%" style="border-radius:5px; border: 1px solid #bbb9b9; height:500px; margin-left:90px; margin-top: 35px" />
    </div>
</div>






<style>
    form {
        border: 2px solid #000; 
        border-radius: 7px;
        padding: 20px; 
        background-color: #ccebf8;
    }

    

    a {
        color: #6c757d;
    }
</style>


 @section scripts{
    @{
    <partial Title="_ValidationScriptsPartial"/>
    }
}

