<!DOCTYPE html>
<html>
<head>
    <title>About Our Online Bookstore</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }

        #about {
            padding: 20px;
            line-height: 1.6em;
        }

      
    </style>
</head>
<body class="bg-info-subtle">
    <div class="container mb-5">
        <div id="about">
            <h1>About Online Bookstore</h1>
            <p>Welcome to my online bookstore, a one-stop-shop for all your reading needs. I have built this platform using ASP.NET Core, a robust and high-performance framework, to ensure a seamless and efficient shopping experience for the customers.</p>

            <h2>Vision</h2>
            <p>My vision is to create a user-friendly platform where book lovers can explore and purchase their favorite books from the comfort of their homes.</p>

            <h2>What We Offer</h2>
            <p>Online bookstore offers a wide range of books across various categories. As a registered user, you can browse through extensive collection, add books to your shopping bag, view your order summary, and proceed to place an order with ease.</p>

            <h2>User Experience</h2>
            <p>I've made the platform easy to navigate. Once you've found the book you want to purchase, you can add it to your shopping bag. Before placing an order, you can review your order summary and fill in your shipping details.</p>

            <h2>Admin Features</h2>
            <p>My platform also includes an admin account that can access product and category pages and perform CRUD (Create, Read, Update, Delete) operations on them. This ensures that the book inventory is always up-to-date and provides the customers with the latest and most popular titles.</p>

            <h2>Order Management</h2>
            <p>Once an order is placed, it is immediately visible in the admin's "Manage Orders" section. This allows for quick dispatch and ensures that your books reach you as soon as possible.</p>

            <p>I hope you enjoy your shopping experience with us. Happy reading!</p>
        </div>
    </div>
</body>
</html>
