@model IEnumerable<Product>
<body class="bg-info-subtle">
<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded bg-secondary-subtle">

                        <img class="card-img-top rounded"  src="@product.ImageURL"/>

                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                            <p class="card-title  text-warning text-center">by <b>@product.Author</b></p>
                        </div>

                        <div class="pl-1">
                            <p class="text-dark text- text-opacity-75 text-center">Price <span>₹@product.Price.ToString()</span></p>
                        </div>

                        <div >
                            <a asp-action="Details" asp-route-productid="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
</body>

@* <style>
.card {
    /* Set a fixed height for the cards */
    height: 580px; /* Adjust as needed */

    /* Optionally, set a fixed width for the cards */
    width: 100%; /* Adjust as needed */

    /* Add any other styling you want for the cards */
    /* For example: */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

</style> *@